.owl-project > .owl-nav > .owl-prev,
.owl-project > .owl-nav > .owl-next {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px !important;
  border-radius: 50%;
  background-color: #2560e9 !important;
  display: grid;
  place-items: center;
}

.owl-project > .owl-nav > .owl-prev {
  left: 0;
}

.owl-project > .owl-nav > .owl-next {
  right: 0;
}